<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link th:href="@{assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/colors/default-dark.css}" id="theme" rel="stylesheet">
    <script type="text/javascript" th:src="@{js/address.js}"></script>
</head>
<body>

<div class="container col-6 col-offset-5" style="margin-top: 100px">
    <form th:action="@{/cupdateOrder}" method="post">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>客户公司</td>
                <td>
                    <select name="client">
                        <div th:each="c:${clients}">
                            <option th:value="${c.getCompanycode()}" th:text="${c.getNamezh()}"></option>
                        </div>
                    </select>
                </td>
            </tr>
            <tr>
                <td>寄件人</td>
                <td><input type="text" name="send" th:value="${order.getSend()}"><br></td>
            </tr>
            <tr>
                <td>寄件人电话</td>
                <td> <input type="tel" pattern="^1\d{10}$"  name="sphone" th:value="${order.getSphone()}"></td>
            </tr>
            <tr>
                <td>寄件人邮箱</td>
                <td><input type="email" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" name="semail" th:value="${order.getSemail()}">
                </td>
            </tr>
            <tr>
                <td>寄件省</td>
                <td> <input type="text" name="sprovince" th:value="${order.getSprovince()}"></td>
                <!--                    <td><select id="spprovince" name="sprovince" ></select></td>-->
            </tr>
            <tr>
                <td>市</td>
                <td><input type="text" name="scity" th:value="${order.getScity()}"></td>
                <!--                    <td><select id="sccity" name="scity" ></select></td>-->
            </tr>
            <tr>
                <td>收件人</td>
                <td><input type="text" name="receive" th:value="${order.getReceive()}"></td>
            </tr>
            <tr>
                <td>收件人电话</td>
                <td><input type="tel" pattern="^1\d{10}$" name="rphone" th:value="${order.getSphone()}"></td>
            </tr>
            <tr>
                <td> 收件人邮箱</td>
                <td><input type="email" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" name="remail" th:value="${order.getRemail()}">
                </td>
            </tr>
            <tr>
                <td>收件人省</td>
                <td><input type="text" name="rprovince" th:value="${order.getRprovince()}"></td>
                <!--                <td><select id="rpprovince" name="rProvince" ></select></td>-->
            </tr>
            <tr>
                <td>市</td>
                <td> <input type="text" name="rcity" th:value="${order.getRcity()}"></td>
                <!--                <td><select id="rccity" name="rcity" ></select></td>-->
            </tr>
        </table>
        <button type="submit" class="btn btn-secondary">提交</button>
    </form>
</div>
<script type="text/javascript">
    addressInit('rpprovince', 'rccity',"北京","北京");
    addressInit('spprovince', 'sccity',"北京","北京");
</script>
</body>
</html>