<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link th:href="@{assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/colors/default-dark.css}" id="theme" rel="stylesheet">
    <script type="text/javascript" th:src="@{assets/plugins/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/plugins/bootstrap/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/perfect-scrollbar.jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/waves.js}"></script>
    <script type="text/javascript" th:src="@{js/sidebarmenu.js}"></script>
    <script type="text/javascript" th:src="@{js/custom.min.js}"></script>
    <script type="text/javascript" th:src="@{js/address.js}"></script>
</head><link th:href="@{assets/plugins/chartist-js/dist/chartist.min.css}" rel="stylesheet">
<link th:href="@{assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css}" rel="stylesheet">
<link th:href="@{assets/plugins/c3-master/c3.min.css}" rel="stylesheet">
<link th:href="@{css/style.css}" rel="stylesheet">
<link th:href="@{css/pages/dashboard.css}" rel="stylesheet">
<script th:src="@{assets/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{assets/plugins/bootstrap/js/popper.min.js}"></script>
<script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{js/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{js/waves.js}"></script>
<script th:src="@{js/sidebarmenu.js}"></script>
<script th:src="@{js/custom.min.js}"></script>
<script th:src="@{assets/plugins/chartist-js/dist/chartist.min.js}"></script>
<script th:src="@{assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{assets/plugins/d3/d3.min.js}"></script>
<script th:src="@{assets/plugins/c3-master/c3.min.js}"></script>
<script th:src="@{js/dashboard.js}"></script>
<body>

<div class="container">
    <form th:action="@{/updateOrder}" method="post">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>客户公司</td>
                <td>
                    <select name="client">
                    <div th:each="c:${clients}">
                        <option th:value="${c.getCompanycode()}" th:text="${c.getNamezh()}"></option>
                    </div>
                </select>
                </td>
            </tr>
            <tr>
                <td>寄件人</td>
                <td><input type="text" name="send" th:value="${order.getSend()}"><br></td>
            </tr>
            <tr>
                <td>寄件人电话</td>
                <td> <input type="tel" pattern="^1\d{10}$"  name="sphone" th:value="${order.getSphone()}"></td>
            </tr>
            <tr>
                <td>寄件人邮箱</td>
                <td><input type="email" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" name="semail" th:value="${order.getSemail()}">
                </td>
            </tr>
            <tr>
                <td>寄件省</td>
<!--                <td> <input type="text" name="sprovince" th:value="${order.getSprovince()}"></td>-->
                    <td><select id="sProvince" name="sprovince" ></select></td>
            </tr>
            <tr>
                <td>市</td>
<!--                <td><input type="text" name="scity" th:value="${order.getScity()}"></td>-->
                    <td><select id="sCity" name="scity" ></select></td>
            </tr>
            <tr>
                <td>收件人</td>
                <td><input type="text" name="receive" th:value="${order.getReceive()}"></td>
            </tr>
            <tr>
                <td>收件人电话</td>
                <td><input type="tel" pattern="^1\d{10}$" name="rphone" th:value="${order.getSphone()}"></td>
            </tr>
            <tr>
                <td> 收件人邮箱</td>
                <td><input type="email" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" name="remail" th:value="${order.getRemail()}">
                </td>
            </tr>
            <tr>
                <td>收件人省</td>
                <td><input type="text" name="rprovince" th:value="${order.getRprovince()}"></td>
            </tr>
            <tr>
                <td>市</td>
                <td> <input type="text" name="rcity" th:value="${order.getRcity()}"></td>
            </tr>
        </table>
   <button type="submit" class="btn btn-secondary">提交</button>
    </form>
    <script type="text/javascript">
        addressInit('rProvince', 'rCity',"${order.getRprovince()}","${order.getRcity()}");
        // addressInit('sProvince', 'sCity',"${order.getSprovince()}","${order.getScity()}");
        addressInit('sProvince', 'sCity');
    </script>
</div>

</body>
</html>