<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
 <!--/*@thymesVar id="msg" type="com.ce.springboot.controller.IndexController"*/-->
<!-- <div th:text="${o}"></div>-->
<!--<div th:text="${orders}"></div>-->
<!-- <button class="btn" ><a th:href="@{/logout}">注销</a></button>-->
<!-- <a  th:href="@{/order/add}">order</a>-->
<!-- <a  th:href="@{/good/add}">good</a>-->
<!-- <a  th:href="@{/client/add}">client</a>-->
<!--<p>hello</p>-->
<!--<p th:text="${pass}"></p>-->
<!--<p th:text="${unpass}"></p>-->
<!--<p th:text="${orderid}"></p>-->
<!--<p th:text="${company}"></p>-->
<!--<p th:text="${companycode}"></p>-->
<!--<p th:text="${send}"></p>-->
<!--<p th:text="${sphone}"></p>-->
<!--<p th:text="${receive}"></p>-->
<!--<p th:text="${rphone}"></p>-->
<!--<p th:text="${id}"></p>-->
<p th:text="${goods}"></p>
<p th:text="${name}"></p>
<p th:text="${goodid}"></p>
</body>
</html>